BASE_URL=https://vcknots.example.com
PORT=8080

# Allows an HTTP endpoint for the Authorization Server Issuer (for local development/testing).
# Do not enable VCKNOTS_AUTHZ_HTTP_ALLOWED in production.
# VCKNOTS_AUTHZ_HTTP_ALLOWED=true

CERTIFICATE_PATH=../samples/certificate-openid-test/certificate_openid.pem
PRIVATE_KEY_PATH=../samples/certificate-openid-test/private_key_openid.pem
